ody{background-color:#ffffff; margin:0 15%; font-family: Calibri Light;}
    h1{text-align: center; font-family: Calibri Light; font-weight:normal; color: #228DA8;
    text-transform: capitalize; border-bottom:1px solid #254359; margin-top: 20px;}
    h2 {font-family: Calibri Light; color: #228DA8;}
